<div x-data="{cards: {{values}} }">
  <template x-for="(c,i) in cards">
    <div :id="getTitle(i)">
      <p x-text="getTitle(i)"></p>
      <input type="text" x-model="c.value" />
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        @click="cards.splice(i,1)"
      ></button>
      <button type="button" @click="cards.splice(i,0,{ value: 'n'})">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </template>
  <p>Veterinary Score</p>
  <input type="text" :value="getValue(cards.slice(0,4))" />
</div>
