<form
    id="file-upload"
    hx-encoding="multipart/form-data"
    hx-post="{% url 'api' %}"
>
    <label for="files"></label>
    <ul class="fileList"></ul>
    <button
    type="button"
    id="uploadButton"
    onclick="document.querySelector('#files').click()"
    >
    Upload Files
</button>
    

    {% comment %} {{form.data}} {% endcomment %}
    <input
        id="files"
        oninput=" const ul = document.querySelector('.fileList'); 
                ul.innerHTML ='';
                for(const f of event.target.files){ul.innerHTML += '<li>'+f.name+'</li>';}"
        type="file"
        accept="image/*"
        multiple
        name="files"
        style="display: none; margin: auto"
    />
    </button>
    <button id="uploadButton">Submit</button>
</form>